@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components{
  .black-btn{
    @apply bg-black text-white px-4 py-2 rounded-3xl border border-black text-center hover:bg-white hover:text-black;
  }
  .outline-btn{
    @apply bg-white text-black px-4 py-2 rounded-3xl border border-black text-center;
  }
  .dropdown {
    @apply bg-white flex flex-col gap-3 min-w-[200px] h-fit p-6 absolute right-0 text-end;
  }
  .dropdown_link {
    @apply text-sm font-inter text-gray-700 hover:text-gray-500 font-medium;
  }
  .orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
  }
  .desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl mx-auto;
  }
  .head_text {
    @apply mt-5 text-3xl font-extrabold leading-[1.15] text-black md:text-4xl lg:text-5xl;
  }
  
}